body{
  background: rgba(110, 130, 155, 0.853);
}

.loading {
  text-align: center;
  color: aliceblue;
  margin-top: 450px;
}

@media screen and (min-width: 321px) and (max-width: 600px){
  .loading {
    margin-top: 340px;
  }
}